@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Young+Serif&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme default {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  /* Custom fonts */
  --font-averia: "Averia Serif Libre", serif;
  --font-kumbh: "Kumbh Sans", sans-serif;
  --font-spartan: "League Spartan", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-open: "Open Sans", sans-serif;
  --font-young: "Young Serif", serif;
}
